@media screen and (max-width: 992px){
    .container-lg{
        max-width: 960px;
        margin: 0 auto;
    }

     /* Header */

     .main-header__menu li{
        font-size: 14px;
    }

    /* MAIN - Section .hero */

    .hero__img{
        padding: 10px;
    }
}

@media screen and (max-width: 768px){

    /* Layout */

    .flex-md-wrap{
        flex-wrap: wrap;
    }

    .col-md-6{
        width: calc(6 * 100% / 12);
    }

    .col-md-12{
        width: calc(12 * 100% / 12);
    }
    
    .container-md{
        max-width: 720px;
        margin: 0 auto;
    }

    /* Header */

    .main-header__menu{
        display: none;
    }

    .main-header__hamburger{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        font-size: 20px;
    }

    /* MAIN - Section .countdown */
    .countdown{
        margin: 50px 0;
    }
    

    .countdown-content h1{
        font-size: 14px;
        margin-bottom: 30px;
    }

    .countdown span{
        font-size: 10px;
    }

    /* MAIN - Section .hero */

    .hero__img{
        padding: 5px;
    }

    /* MAIN - Section .wedding-place */

    .wedding-place-video{
        height: 200px;
    }

    /* MAIN - Section .maids-of-honor */
    /* MAIN - Section .bridesmaids-groomsmen */
    /* MAIN - Section .bestmen */


    .maids-of-honor__title,
    .bridesmaids-groomsmen__title,
    .bestmen__title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .maids-of-honor__title span,
    .bridesmaids-groomsmen__title span{
        font-size: 8px; 
    }

    .matron-of-honor__card,
    .maids-of-honor__card,
    .bridesmaids-groomsmen__card,
    .bestmen__card{
        margin-bottom: 50px;
    }

    .matron-of-honor__card img,
    .maids-of-honor__card img,
    .bridesmaids__card img{
        border: 2px solid var(--darkpink);
    }

    .bridesmaids__card{
        flex-direction: column-reverse;
    }

    .bridesmaids__card img{
        padding: 5px;
    }

    .bestmen__card img{
        border: 2px solid var(--gray);
    }

    .groomsmen__card img{
        border: 2px solid var(--gray);
        padding: 5px;
    }


    .bridesmaids__card,
    .groomsmen__card{
        font-size: 8px;
    }

    .maids-of-honor h3,
    .bestmen h3{
        font-size: 14px;
    }

     /* MAIN - Section .question-box */

     .question-box button{
        border: 2px solid var(--gray);
        font-size: 10px;
        color: var(--gray);
        width: 200px;
        margin: 30px;
    }

    .question-box button a{
        padding: 10px;
    }

    /* MAIN - Section .hashtag */

    .hashtag h3{
        font-size: 10px;
    }

    .hashtag h1{
        font-size: 20px;
        margin: 30px;
    }

    .hashtag__social img{
        margin: 0 3px;
    }
}

@media screen and (max-width: 576px){

    .container-sm{
        max-width: 540px;
        margin: 0 auto;
    }

    .col-sm-12{
        width: calc(12 * 100% / 12);
    }

    /* Header */

    .main-header__menu li{
        display: none;
    }


    /* MAIN - Section .wedding-place */

    .wedding-place{
        margin: 50px 0;
        padding: 50px 50px;
    }

    .wedding-place h1{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .wedding-place p{
        font-size: 14px;
        padding-bottom: 10px;
    }

    /* MAIN - Section .engagement */

    .engagement h1{
        font-size: 20px;
    }

    /* MAIN - Section .us */

    .us__title{
        font-size: 6px;
        padding: 15px;
    }

    .us img{
        padding: 5px;
    }

    /* Footer */

    .main-footer{
        font-size: 12px;
    }

    .main-footer .social i{
        font-size: 14px;
    }

    
   
}