@media screen and (max-width: 992px){
    .container-lg{
        max-width: 960px;
        margin: 0 auto;
    }

     /* Header */

     .main-header__menu li{
        font-size: 14px;
    }

    /* MAIN - Section .hero */

    .hero__img{
        padding: 10px;
    }
}

@media screen and (max-width: 768px){
    
    .container-md{
        max-width: 720px;
        margin: 0 auto;
    }

    .main-header__menu{
        display: none;
    }

    .main-header__hamburger{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        font-size: 20px;
    }

      /* MAIN - Section .hero */

      .hero__img{
        padding: 5px;
    }

    /* Layout */

    .flex-md-wrap{
        flex-wrap: wrap;
    }

    .col-md-6{
        width: calc(6 * 100% / 12);
    }

    .col-md-12{
        width: calc(12 * 100% / 12);
    }
}

@media screen and (max-width: 576px){

    .container-sm{
        max-width: 540px;
    }

    /* Header */

    .main-header__menu li{
        display: none;
    }

    /* MAIN - Section .countdown */
    .countdown{
        margin: 50px 0;
    }
    

    .countdown-content h1{
        font-size: 22px;
    }

    .countdown span{
        font-size: 12px;
    }

    /* MAIN - Section .wedding-place */

    .wedding-place{
        margin: 50px 0;
        padding: 50px 50px;
    }

    .wedding-place h1{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .wedding-place p{
        font-size: 14px;
        padding-bottom: 10px;
    }

    /* MAIN - Section .engagement */

    .engagement h1{
        font-size: 20px;
    }

    .question-box iframe{
        width: 80%;
    }
   
}