:root{
    --pink: #FFE1E1;
    --lightpink: #f6dbda;
    --darkpink: #FEAFB0;
    --white: #ffffff;
    --black: #000000;
    --gray: #626060;
    --lightgray: #BEBEBE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul,ol,menu{
    list-style: none;
}

body{
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

/* Utilities */

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}

.gap-10{
    gap: 10px;
}

.gap-50{
    gap: 50px;
}

.align-center{
    align-items: center;
}

.p-relative{
    position: relative;
}

.p-20{
    padding: 20px;
}

.pt-20{
    padding-top: 20px;
}

.pl-20{
    padding-left: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.m-20{
    margin: 20px;
}

.mt-10{
    margin-top: 10px;
}

.mt-50{
    margin-top: 50px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-100{
    margin-bottom: 100px;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.underline{
    text-decoration: underline;
}

.height-100{
    height: 100%;
}

/* Layout */

.container{
    width: 100%;
    padding: 0 20px;
}

.container-xl{
    max-width: 1140px;
    margin: 0 auto;
}

.col-3{
    width: calc(3 * 100% / 12);
}

.col-4{
    width: calc(4 * 100% / 12);
}

.col-6{
    width: calc(6 * 100% / 12);
}

.col-8{
    width: calc(8 * 100% / 12);
}

/* Header */

.main-header{
    background-color: var(--pink);
    box-shadow: 10px 10px 5px #e9e9e9;
}

.main-header__menu li{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--gray);
}

.main-header__menu li a{
    display: block;
    padding: 20px;
}

.main-header__menu li:hover{
    color: var(--darkpink);
    transition: 0.8s;
}

.main-header__hamburger{
    color: var(--darkpink);
    display: none;
}

/* MAIN - Section .hero */

.hero{
    margin: 50px 0;
}

.hero__img{
    padding: 20px;
    top: -20px;
}

.hero img{
    border-radius: 24px;
}

.hero .overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f8f8f871;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--black);
}

.hero:hover .overlay{
    opacity: 1;
    transition: 1s;
}

/* MAIN - Section .countdown */

.countdown{
    margin: 100px 0;
}

.countdown-content{
    margin: 50px;
}

.countdown span{
    display: block;
    margin-bottom: 5px;
    background-color: var(--pink);
    border-radius: 24px;
    margin-right: 10px;
    padding: 10px;
}

/* MAIN - Section .question-box */

svg{
    position: relative;
    bottom: -15px;
}

.question-box{
    padding-top: 100px;
    background-color: var(--lightpink);
    border-bottom: 1px solid var(--white);
}

/* MAIN - Section .wedding-place */

.wedding-place{
    margin: 100px 0;
    padding: 100px 50px;
}

.wedding-place h1{
    color: var(--gray);
    font-size: 40px;
    margin-bottom: 50px;
}

.wedding-place p{
    font-size: 20px;
    display: block;
}

.wedding-place p a{
    display: inline-block;
}

.wedding-place p a:hover{
    text-decoration: underline;
    color: var(--darkpink);
}

.wedding-place i{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: var(--darkpink);
}

.wedding-place iframe{
    padding: 10px 0;
}

/* MAIN - Section .engagement */

.engagement{
    margin-top: 100pxs;
}

.engagement h1{
    color: var(--darkpink);
    font-size: 40px;
    margin: 20px 0;
}

.engagement .flex img{
    padding: 10px;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

/* MAIN - Section .us */

.us{
    margin: 200px 0;
}

.us .row{
    border: 2px solid var(--lightpink);
}

.us__title{
   justify-content: center;
   padding: 50px;
}

.us__title h1 span{
    color: var(--darkpink);
}

.us img{
    display: block;
    padding: 20px;
}

.us figure img{
    width: 50%;
}

/* MAIN - Section .matron-of-honor  .maids-of-honor */

.maids-of-honor__title span{
    font-size: 30px;
    color: var(--darkpink);
}

.matron-of-honor__card img,
.maids-of-honor__card img{
    aspect-ratio: 1 / 1;
    width: 250px;
    border-radius: 50%;
    border: 5px solid var(--darkpink);
    object-fit: cover;
}

.matron-of-honor__card img:hover,
.maids-of-honor__card img:hover{
    cursor: pointer;
    border: 5px solid var(--lightpink);
}

/* MAIN - Section .bestmen */

.bestmen__title{
    color: var(--gray);
    font-size: 40px;
    margin-bottom: 30px;
}

.bestmen__title span{
    font-size: 30px;
    color: var(--darkpink);
}


.bestmen__card img{
    aspect-ratio: 1 / 1;
    width: 250px;
    border-radius: 50%;
    border: 5px solid var(--gray);
    object-fit: cover;
}

.bestmen__card img:hover{
    border: 5px solid var(--lightgray);
}

/* MAIN - Section .bridesmaids-groomsmen */

.bridesmaids-groomsmen__title{
    color: var(--gray);
    font-size: 40px;
    margin-bottom: 30px;
}

.bridesmaids-groomsmen__title span{
    font-size: 30px;
    color: var(--darkpink);
}

.bridesmaids-groomsmen h3{
    flex-grow: 1;
}

.bridesmaids__card img,
.groomsmen__card img{
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    padding: 10px;
}

.bridesmaids__card img{
    border: 5px solid var(--darkpink);
}

.groomsmen__card img{
    border: 5px solid var(--gray);
}

.bridesmaids__card img:hover{
    cursor: pointer;
    border: 5px solid var(--lightpink);
}

.groomsmen__card img:hover{
    cursor: pointer;
    border: 5px solid var(--lightgray);
}


/* Footer */

.main-footer{
    background-color: var(--lightpink);
}

.main-footer__title{
    margin-bottom: 20px;
}

.main-footer .social{
    margin: 10px 0;
}

.main-footer .social i{
    font-size: 20px;
}

.main-footer .social .underline:hover{
    color: var(--darkpink);
}







.slide-in-right{
    animation-name: slide-in-right;
    animation-duration: 0.8s;
}

@keyframes slide-in-right{
    0%{
        opacity:0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slide-in-left{
    animation-name: slide-in-left;
    animation-duration: 0.8s;
}

@keyframes slide-in-left{
    0%{
        opacity:0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slide-in-top{
    animation-name: slide-in-top;
    animation-duration: 0.8s;
}

@keyframes slide-in-top{
    0%{
        opacity:0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .highlights{
    animation-name: highlights;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes highlights{

    0%{
        width: 100%;
    }

    25% {
        width: 95%;
    }

    50%{
        width: 100%;
    }

    75%{
        width: 95%;
    }

    100%{
        width: 100%;
    }

} */





